.visible{
    gap: 2rem;
    width: 300px;
    height: 100px;
    background-color: aqua;
    overflow: visible;
    position: relative;
}
.hidden{
    gap: 2rem;
    width: 300px;
    height: 100px;
    background-color: green;
    overflow: hidden;
    margin-top: 50px;
}
.scroll{
    gap: 2rem;
    width: 300px;
    height: 100px;
    background-color: greenyellow;
    overflow: scroll;
    margin-top: 150px;

}
.auto{
    width: 300px;
    height: 100px;
    background-color: gold;
    overflow: auto;
    margin-top: 150px;
}
.x{
    gap: 2rem;
    width: 300px;
    height: 100px;
    background-color: blue;
    overflow-x: auto;
    margin-top: 50px;
}
.y{
    gap: 2rem;
    width: 300px;
    height: 100px;
    background-color:blueviolet;
    overflow-y: visible;
    margin-top: 50px;
}